:root {
    --fs-18px: 18px;
    --background-color-yellow: #FFF03F;
    --font-family: "Poppins", sans-serif;
    --color-dark-yellow: #F6E300;
    --text-opicity: 70%;
    --fs-48px: 48px;
}

.color-dark-yellow {
    background-color: var(--color-dark-yellow);
}

.text-opicity {
    opacity: var(--text-opicity);
}

.font-family {
    font-family: var(--font-family);
}

