:root {
    --fs-18px: 18px;
    --background-color-yellow: #FFF03F;
    --font-family: "Poppins";
    --color-dark-yellow: #F6E300;
    --text-opicity: 70%;
    --fs-48: 48px;
}

.color-dark-yellow {
    background-color: var(--color-dark-yellow);
}

.text-opicity {
    opacity: var(--text-opicity);
}

.font-famiy {
    font-family: var(--font-family);
}

.fs-48 {
    font-size: var(--fs-48);
}